<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<main class="container my-5">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 my-5">
            <h1 class="display-4 text-md-nowrap text-white font-weight-bold text-center my-5">UNKNOWN ERROR</h1>
            <p class="text-center text-white">Page not found!</p>
        </div>
        <div class="col-lg-1"></div>
    </div>
</main>

<%- include('includes/footer.ejs') %>