<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<main class="container my-5">
  <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 mt-5">
          <h1 class="font-weight-bold text-center my-5 text-light">Hello, <%= user.firstName %></h1>
          <p class="text-center text-light my-5">Now, you can explore your Agenda.</p>
      </div>
      <div class="col-lg-1"></div>
  </div>
</main>

<%- include('includes/footer.ejs') %>